{
    "env": {
      "browser": true,
      "node": true,
      "es6": true,
      "mocha": true
    },
    "parserOptions": {
      "ecmaVersion": 2017,
      "sourceType": "module"
    },
    "settings": {
      "padding-line-between-statements": [
        {
          "blankLine": 4,
          "prev": [
            "const",
            "let",
            "var"
          ],
          "next": "*"
        },
        {
          "blankLine": 1,
          "prev": [
            "const",
            "let",
            "var"
          ],
          "next": [
            "const",
            "let",
            "var"
          ]
        }
      ]
    },
    "globals": {
      "casper": true
    },
    "rules": {
      "semi": 2,
      "camelcase": 0,
      "curly": [
        "error",
        "all"
      ],
      "no-bitwise": 2,
      "eqeqeq": 2,
      "wrap-iife": [
        2,
        "any"
      ],
      "indent": [
        2,
        2,
        {
          "SwitchCase": 1
        }
      ],
      "no-use-before-define": 0,
      "new-cap": 0,
      "no-caller": 2,
      "no-undef": 2,
      "strict": 0,
      "no-unused-expressions": 0,
      "no-eval": 2,
      "dot-notation": 0,
      "no-unused-vars": 2,
      "comma-style": [
        2,
        "last"
      ],
      "no-irregular-whitespace": 2,
      "padding-line-between-statements": [
        2,
        {
          "blankLine": "always",
          "prev": [
            "const",
            "let",
            "var"
          ],
          "next": "*"
        },
        {
          "blankLine": "any",
          "prev": [
            "const",
            "let",
            "var"
          ],
          "next": [
            "const",
            "let",
            "var"
          ]
        }
      ]
    }
  }
